.boxfundo{
    height: 250px;
    background-color: #fff;
}
.boxfooter{
    height: 210px;
    background-color: #7EA1BF;
    display: flex;
    justify-content: space-around;
}
.boxlogoicon{
    width: 30%;
    border-right: 1px solid #fff ;
}
.boxlogofooter{
    width: 30%;
    height: 100px;

    margin: auto;
    margin-top: 40px;
}
.lgfooter{
    width: 100%;
    height: 100%;
}
.icons{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
i{
     background-color: #fff;
     color: #7EA1BF;
     padding: 6px;
     border-radius: 6px;
     cursor: pointer;
}
i:hover{
    color: #ffffff;
    background-color: #000000;
    transition: 1s;
    
}
.plataformaf{
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 7px;
    border-bottom: solid 1px ;
}
.boxplataforma{
    width: 40%;
    margin: auto;
    margin-top: 40px;
}
.homef{
    font-size: 17px;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}
.sobref{
    font-size: 17px;
    color: #fff;  
    margin-bottom: 10px;
    cursor: pointer;

}
.maisf{
    font-size: 17px;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
}

.Contatof{
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 7px;
    border-bottom: solid 1px ;
    width: 40%;
    margin-top: 35px;
    
}

.boximgsc{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    float: left;
}

.imgconatosf{
    width: 80%;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;;
  
}
.boxcontatotext{
 margin-top: 20px;
 height: 70px;
}
.boxcontatotext p{
    padding-top:5px;
    margin-bottom: 35px;
    color: #fff;
    cursor: pointer;
}